@model CurrencyConverter.Models.Conversion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Conversion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Conv_Input_Value" class="control-label"></label>
                <input asp-for="Conv_Input_Value" class="form-control" step=".01" />
                <span asp-validation-for="Conv_Input_Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conv_Input_Currency" class="control-label"></label>
                @Html.DropDownListFor(model => model.Conv_Input_Currency, new SelectList(ViewBag.Currencies, "Value", "Text"), "- Select Currency -", new { @class = "form-control" })
                <span asp-validation-for="Conv_Input_Currency" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Conv_Output_Currency" class="control-label"></label>
                @Html.DropDownListFor(model => model.Conv_Output_Currency, new SelectList(ViewBag.Currencies, "Value", "Text"), "- Select Currency -", new { @class = "form-control" })
                <span asp-validation-for="Conv_Output_Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
